html,
body {
    height: 100%;
}

h2 {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 14px;
    color: black;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('/Vina.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    /* Usar vh (viewport height) para que el body ocupe el 100% de la altura de la ventana del navegador */
    margin: 0;
    /* Eliminar márgenes predeterminados */
    padding: 0;
    /* Eliminar relleno predeterminado */
}

.menu-label {
    color: #002060;
}

.box-transparente {
    background-color: rgb(238, 238, 238, 0.9) !important;
}

.fondo-gris {
    background-color: rgb(183, 183, 183, 1) !important;
    color: white !important;
}

.fondo-boton-blanco {
    background-color: rgb(249, 249, 249, 1) !important;
    color: rgb(0, 32, 96, 1) !important;
}

.fondo-boton-blanco:hover {
    background-color: #004B85 !important;
    color: white !important;
}

.texto {
    color: #004B85 !important;
}


/* Cambiar el color de fondo de los botones a #D60019 */

.button {
    background-color: #004B85 !important;
    /* Asegúrate de que el color del texto sea visible en el nuevo fondo */
    color: white !important;
}


/* Cambiar el color de fondo al pasar el mouse por encima */

.button:hover {
    background-color: #D60019 !important;
    /* Puedes ajustar este tono de rojo para el efecto hover */
}

.field {
    max-width: 300px;
    /* Establecer el ancho máximo */
    margin-left: auto;
    /* Centrar los campos de entrada */
    margin-right: auto;
}

.control {
    width: 100%;
    /* Establecer el ancho al 100% */
}

a:hover {
    color: #D60019;
    /* Cambiar el color del texto al pasar el mouse sobre el enlace */
}