html, body{
    height: 100%;
}

h2{
    text-align: center;
    margin-top: 4px;
    margin-bottom: 14px;
    color: black;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh; /* Usar vh (viewport height) para que el body ocupe el 100% de la altura de la ventana del navegador */
    margin: 0; /* Eliminar márgenes predeterminados */
    padding: 0; /* Eliminar relleno predeterminado */
}

.menu-label {
    color: #002060;
}
.box-transparente {
    background-color: rgb(238, 238, 238, 0.9) !important;
}
.fondo-gris {
    background-color: rgb(183, 183, 183, 1) !important;
    color: white !important;
}
.fondo-boton-blanco{
    background-color:rgb(249, 249, 249, 1) !important;
    color: rgb(0, 32, 96, 1) !important;
}
.fondo-boton-blanco:hover{
    background-color: rgb(111, 34, 90, 1) !important;
    color: white !important;
}
.texto {
    color: #002060 !important;
}